html,
body,
#root {
  height: 100%;
}
a {
  text-decoration: none;
}
.help-center-icon {
  fill: #ddd;
  color: rgba(33, 170, 255, 0.8);
}
.menu-btns {
  margin-top: 1rem;
  color: #444;
  font-weight: 500;
  font-size: large;
  border-bottom: 1px solid #eee;
}
.menu-btns:hover {
  font-weight: 600;
  font-size: larger;
}
.menu-btns svg {
  margin-top: -0.3rem;
}
.app-home {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #fff;
  background-image: url('/src/assets/bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  min-height: 100vh;
  height: auto;
}
.home-backgroud {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.app {
  padding: 4rem 0;
  min-height: 89vh;
}

.home {
  display: flex;
}
.carousel-div {
  height: 30rem;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
}
.carousel-item {
  margin-top: 4rem;
}
.carousel-div div {
  font-weight: 600;
  font-size: 3rem;
}

.auth-container-col {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 1px solid rgba(200, 200, 200, 0.5);
  padding: 1.5rem;
  border-radius: 5px;
}

.logout-button {
  color: #f00;
  cursor: pointer;
}

.period-calculator {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.3);
  color: #fff;
  font-weight: 600;
  max-width: 23rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.period-calculator-result {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.3);
  max-width: 23rem;
  padding: 1rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
}

.days-select {
  width: 5rem;
  margin: auto;
  cursor: pointer;
}

.result-title {
  text-align: center;
  border-bottom: 1px solid rgba(85, 85, 85, 0.7);
}
.result-date {
  text-align: center;
}
.result-date-day {
  font-size: 4rem;
}
.result-date-month {
  font-size: larger;
}

.footer {
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: 600;
  text-align: end;
  padding-right: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255);
  height: 2em;
}

/* for mobile screen  */
@media screen and (max-width: 690px) {
  .carousel-div div {
    font-size: 1.8rem;
  }
}
.user-profile {
  background-color: #444;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
